<!DOCTYPE html>
<html>
<head>
  <title>Twitbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <form class="navbar-form navbar-left" role="search">
      <a class="brand" href="#">Twitbook</a>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
      <a class="navbar-link"><%= link_to "All Status Updates!", statuses_path %></a>
    </form>
  </div>
</nav>



  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>
</html>
